<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="app">
        <header>
            <%- include('navbar.ejs') %>
        </header>
        
        <h1>Currently Not Implemented</h1>

        <footer>
            <a href="https://github.com/KIliuchok/" class="navbar brand mb-0">GitHub Profile</a>
        </footer>
    </div>
</body>
</html>